/node_modules
/public/hot
/public/build
/public/userfiles
/public/load_files
/public/uploads
/public/ifiles
/public/ifiles2
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.phpunit.cache/test-results
/AKWAGARANT/
/public/media/
