/node_modules
/public/hot
/public/build
/public/userfiles
/public/load_files
/public/uploads
/public/ifiles
/public/ifiles2
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.phpunit.cache/test-results
/AKWAGARANT/
/public/media/
/public/video/glulam_house_heating_installation_in_Voronezh.mp4
/public/video/house_is_made_of_gluedbeams.mp4
/public/video/obzor_doma.mp4
/public/video/obzor_doma_1.mp4
/public/video/overview_of_the_building_with_a_swimming_pool.mp4
/public/video/very_cool_engineering_plumbing_in_the_house.mp4
