.shop{
    @media #{$tablet}{
        margin-bottom: 40px;
    }
    &.favourite{
        margin-top: 140px;
        padding-bottom: 50px;
        @media #{$laptop}{
            margin-top: 170px;
        }
        @media #{$mobile}{
            margin-top: 80px;
        }
        .title{
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .no_favourite_item{
            font-size: 20px;
            font-weight: 400;
            font-family: Arial;
            display: none;
            &.active{
                display: block;
            }
        }
        .row{
            .shop_item{
                display: none;
                &.active{
                    display: block;
                }
            }
        }
    }
    &.viewed{
        padding-top: 50px;
        padding-bottom: 50px;
        .item_title{
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
    .row{
        display: flex;
        gap: 0 50px;
        .left_side{
            flex: 0 0 auto;
            width: 100%;
            max-width: 300px;
            @media #{$mobile}{
                display: none;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px 0;
                padding-left: 20px;
                li{
                    list-style: disc;
                    &.active{
                        ul{
                            display: flex;
                        }
                        .link{
                            color: #039e54;
                        }
                    }
                    a{
                        font-size: 16px;
                        font-weight: 400;
                        font-family: Arial;
                        color: #0a222d;
                        transition: .3s all ease;
                        margin-bottom: 10px;
                        &:hover{
                            color: #039e54;
                        }
                    }
                    ul{
                        display: none;
                    }
                }
            }
        }
        .right_side{
            width: 100%;
            .right_row{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 20px;
                @media #{$laptop}{
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                }
            }
            .shop_item{
                width: 100%;
                flex: 0 0 auto;
                border: 1px solid #e8e8ea;
                .item_img{
                    height: 300px;
                    width: 100%;
                    padding: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .item_name{
                    font-size: 16px;
                    font-weight: 400;
                    font-family: Arial;
                    color: #000;
                    letter-spacing: 1px;
                    padding: 0 10px 10px 10px;
                }
                .mark_name{
                    padding: 0 10px 10px 10px;
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                }
                .item_buttons{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 50px;
                    border-top: 1px solid #e8e8ea;
                    position: relative;
                    z-index: 10;
                    .price{
                        flex: 0 0 auto;
                        font-size: 13px;
                        font-weight: 600;
                        color: #000;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                        height: 100%;
                        width: 100px;
                    }
                }
            }
        }
    }
    .view_btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        height: 45px;
        color: #0A222D;
        font-size: 14px;
        background: #BCC2C6;
        font-family: Arial;
    }
    .slide_page{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
        margin-top: 30px;
        ul{
            display: flex;
            li{
                &:last-child{
                    a{
                        border-right: 1px solid #BCC2C6;
                    }
                }
                a{
                    height: 35px;
                    width: 35px;
                    border: 1px solid #BCC2C6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #0A222D;
                    font-size: 16px;
                    font-family: Arial;
                    transition: .3s all ease;
                    border-right: none;
                    &:hover{
                        background: #BCC2C6;
                    }
                    &.active{
                        background: #BCC2C6;
                    }
                }
            }
        }
        .left_btn,.right_btn{
            width: 35px;
            height: 35px;
            @media #{$tablet}{
                width: 25px;
                height: 25px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .right_btn{
            transform: rotate(180deg);
        }
    }
}